@charset "UTF-8";

/* font 적용 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
body { font-family: 'Do Hyeon', sans-serif; }


/* 시스템 태그 속성 변경 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* bootstrap 코드 */
.btn:focus { box-shadow: none; }
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #355C7D;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #6C5B7B;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-link:focus, .nav-link:hover { color: #355C7D; }
.page-link:focus, .page-link:hover { color: #355C7D; }
.card-footer {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 0px solid black;
}
.list-group-item-action { cursor: pointer; }

.btn-outline-thema {
    --bs-btn-color: #355C7D;
    --bs-btn-border-color: #355C7D;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #355C7D;
    --bs-btn-hover-border-color: #355C7D;
    --bs-btn-focus-shadow-rgb: 108,117,125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #355C7D;
    --bs-btn-active-border-color: #355C7D;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #355C7D;
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}


/* pc 화면 */
#title h1 {
    margin: 50px;
    margin-bottom: 30px;
    font-size: 50px;
    font-style: italic;
}
a:link { text-decoration: none; color: black; }
a:visited { text-decoration: none; color: black; }
a:active { text-decoration: none; color: black; }
a:hover { text-decoration: none; color: black; }

#navi { margin-bottom: 30px; }
footer { margin: 50px; }


/* 여기서부터 */
#main_impression_img {
    width: 100%;
    height: 400px;
    color: white;
    
    background-image: url("/static/img/The_Brands_Queen_Elizabeth.jpg");
    /* background-size : cover; */
    background-position: center;
    
    cursor: pointer;
}
#main_impression_category { margin-right: 20px; }
#main_impression_list {
    height: 400px;
    overflow-y: auto;
}
#main_impression_list ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#news_img {
    width: 100%;
    height: 400px;
    
    object-fit: contain;
}
#news_content { font-size: large; }
/* 여기까지 */


/* moblie 화면 */
@media (max-width: 992px) {
    h1 { font-size: 38px; }
    #navi { margin-bottom: 40px; }
}
@media (max-width: 767px) {
    
}
@media (max-width: 419px) {
    h1 { font-size: xx-large; }
    #navi { margin-bottom: 30px; }
    
    #news_img { height: 200px; }
    #news_content { font-size: medium; }
}