<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- styles css -->
    <link rel="stylesheet" href="static/css/styles.css">

    <title>News RecSys</title>
</head>
<body>

    <!-- Title -->
    <header id="title">
        <h1 class="text-center"><a href="/">News RecSys</a></h1>
    </header>

    <!-- Navi -->
    <div id="navi">
        <div class="container">
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sports">Sports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/life">Life</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/finance">Finance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/travel">Travel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/entertainment">Entertainment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/weather">Weather</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/autos">Autos</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Main impression -->
    <div id="main_impression">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div id="main_impression_img" class="card">
                        <div class="card-body"></div>
                        <div class="card-footer">
                            <span id="main_impression_category" class="badge text-bg-light">Life</span>
                            <span id="main_impression_title">The Brands Queen Elizabeth, Prince Charles, and Prince Philip Swear By</span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div id="main_impression_list" class="card">
                        <div class="card-header">Recommended News</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">The Brands Queen Elizabeth, Prince Charles, and Prince Philip Swear By</li>
                            <li class="list-group-item">Walmart Slashes Prices on Last-Generation iPads</li>
                            <li class="list-group-item">50 Worst Habits For Belly Fat</li>
                            <li class="list-group-item">Dispose of unwanted prescription drugs during the DEA's Take Back Day</li>
                            <li class="list-group-item">The Cost of Trump's Aid Freeze in the Trenches of Ukraine's War</li>
                            <li class="list-group-item">I Was An NBA Wife. Here's How It Affected My Mental Health.</li>
                            <li class="list-group-item">How to Get Rid of Skin Tags, According to a Dermatologist</li>
                            <li class="list-group-item">Check Houston traffic map for current road conditions</li>
                            <li class="list-group-item">Should NFL be able to fine players for criticizing officiating?</li>
                            <li class="list-group-item">How to record your screen on Windows, macOS, iOS or Android</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    
    <!-- News list -->
    <div id="news_list">
        <div class="container">
            <table class="table">
                <thead>
                    <tr class="text-center thead-dark">
                        <th style="width:10%">No.</th>
                        <th class="text-start">News Title</th>
                        <th style="width:15%">Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>10</td>
                        <td class="text-start"><a href="#">Young Northeast Florida fans flock to U.S. women's soccer</a></td>
                        <td><a href="#">Sports</a></td>
                    </tr>
                    <tr class="text-center">
                        <td>9</td>
                        <td class="text-start"><a href="#">CNN reporter: This is the tense calm after protester shot</a></td>
                        <td><a href="#">Entertainment</a></td>
                    </tr>
                    <tr class="text-center">
                        <td>8</td>
                        <td class="text-start"><a href="#">Adapting, Learning And Soul Searching: Reflecting On Woolsey Fire</a></td>
                        <td><a href="#">Weather</a></td>
                    </tr>
                    <tr class="text-center">
                        <td>7</td>
                        <td class="text-start"><a href="#">Family says 13-year-old Broadway star died from massive asthma attack</a></td>
                        <td><a href="#">Life</a></td>
                    </tr>
                    <tr class="text-center">
                        <td>6</td>
                        <td class="text-start"><a href="#">Devils strike fast, hold off Canucks 2-1</a></td>
                        <td><a href="#">Sports</a></td>
                    </tr>
                    <tr class="text-center">
                        <td>5</td>
                        <td class="text-start"><a href="#">St. Dominic soccer player tries to kick cancer to the curb</a></td>
                        <td><a href="#">Sports</a></td>
                    </tr>
                    <tr class="text-center">
                        <td>4</td>
                        <td class="text-start"><a href="#">Mansion Monday: Contemporary Des Moines home is one of the most unique in the city</a></td>
                        <td><a href="#">Finance</a></td>
                    </tr>
                    <tr class="text-center">
                        <td>3</td>
                        <td class="text-start"><a href="#">How the Sounders won MLS Cup</a></td>
                        <td><a href="#">Sports</a></td>
                    </tr>
                    <tr class="text-center">
                        <td>2</td>
                        <td class="text-start"><a href="#">Best Sports Car Deals for October</a></td>
                        <td><a href="#">Autos</a></td>
                    </tr>
                    <tr class="text-center">
                        <td>1</td>
                        <td class="text-start"><a href="#">Shall we dance: Sports stars shake their leg</a></td>
                        <td><a href="#">Sports</a></td>
                    </tr>
                </tbody>
            </table>
            
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link">Prev</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    
    <!-- footer -->
    <footer></footer>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- scripts js -->
    <!-- <script type="text/javascript" src="js/function.js"></script> -->
    <!-- <script type="text/javascript" src="js/index_ready.js"></script> -->
</body>
</html>